name: Official TB-RK3399ProD

on:
  repository_dispatch:
  workflow_dispatch:
    inputs: { }

env:
  TZ: America/New_York

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show environment
        run: |
          uname -a
          lsb_release -a
          docker --version

      - name: Run build in Ubuntu 18.04 container
        working-directory: ${{ github.workspace }}/build
        run: |
          pwd
          ls -alh
          docker run --rm \
            -v ${{ github.workspace }}/build:/build \
            -w /build \
            ubuntu:18.04 \
            bash -c "
              chmod +x official-build-on-ubuntu18.04.sh ;
              ./official-build-on-ubuntu18.04.sh
            "

      - name: Verify build output
        run: |
          ls -alh  $ {{ github.workspace }}/build/output/*

      - name: Upload Image to Release
        uses: ncipollo/release-action@main
        with:
          tag: TB-RK3399ProD-official
          artifacts: ${{ github.workspace }}/build/output/*
          allowUpdates: true
          replacesArtifacts: true
          token: ${{ secrets.GITHUB_TOKEN }}
          body: |
            ### 镜像说明
            **For kdev, just for fun**
